*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
}

header {
    background-color: cornflowerblue;
    width: 100%;
    height: 60px;
}

.logo{
    float: right;
    cursor: pointer;
    color: white;
    margin-right: 20px;
    padding: 0px;
    line-height: 50px;
    font-weight: bold;
    font-size: 25px;
}


#btn-menu{
    display: none;
}

#btn-menu:checked ~ .menu{
    margin: 0;
}

.label-check{
    font-size: 20px;
    line-height: 50px;
    color: white;
    margin-left: 10px;
    cursor: pointer;
}

.menu{
    position: absolute;
    background: cornflowerblue;
    width: 70%;
    margin-left: -70%

}

.menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.menu li {
    flex-grow: 1;
    border-top: 1px solid white;
}

.menu li:hover{
    background: rgba(0, 0, 0, 0.3);
}

.menu li a{
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: white;
}

section{
    min-height: 100vh;
    height: 70%;
    flex-grow: 1;
}

.inicio{
    height: 620px;
}

.inicio h1 {
    margin: 40px;
    margin-top: 30px;
    color: cornflowerblue;
}

.inicio p{
    margin: 40px;
    font-size: 25px;
}

footer{
    height: 40px;
    background-color: black;
    bottom: 0px;
    color: white;
    font-size: 15px;
    width: 100%;
    text-align: center;
    line-height: 40px;
}

.listado h1 {
    color: cornflowerblue;
    margin: 10px;
    font-size: 27px;
    text-align: center;
}

.listado{
    display: flex;
    flex-direction: column;
}

.caja{
    flex-grow: 1;
    border: 1px solid black;
    margin: 25px;
    margin-left: 50px;
    width: 70%;
    height: 270px;
    overflow: hidden;
}

.listado div img{
    width: 40%;
    height: 40%;
    margin-left: 30%;
    margin-top: 15px;
}



.listado div h3{
    font-size: 22px;
    margin-top: 3px;
    margin-left: 20px;
}

.listado div p{
    font-size: 18px;
    margin-top: 3px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}

.listado div input{
    margin: 10px;
    float: right;
    cursor: pointer;
    background: cornflowerblue;
    border-radius: 8px;
    color: white;
    padding: 5px;
}

.detalle{
    height: 700px;
    display: flex;  
    flex-direction: column;
    background: white;
}

.detalle img{
    width: 70%;
    margin-left: 50px;
}

.caracteristicas{
    text-align: center;
    margin: 10px;
    padding: 5px;
}

.descripcion h2{
    margin: 10px;
    padding: 5px;
    margin-left: 18px;
    font-size: 22px;
}

.descripcion p{
    margin: 10px;
    margin-left: 10px;
    padding: 5px;
    font-size: 16px;
}

.boton{
    padding-left: 30%;
}

.boton button{
    background: cornflowerblue;
    border: 1px;
    color: white;
    width: 100px;
    height: 50px;
    cursor: pointer;
    margin: 20px;
}

.boton button:hover{
    background: rgba(0, 0, 0, 0.3);
}

.menu-content{
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    left: 10%;
    background-color: cornflowerblue;
    transform: translateX(-50%);
    border-radius: 50%;
}

.menu-item{
    width: 40px;
    height: 40px;
    background: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    border-radius: 50%;
    bottom: 6px;
    left: 8%;
    transition: transform 300ms;
}

.menu-item img{
    width: 25px;
}

#menu{
    z-index: 10;
}

.menu-active .menu-item:nth-child(2){
    transform: translateX(50px);
}

.menu-active .menu-item:nth-child(3){
    transform: translateY(-50px);
}

.tarjeta{
    background-color: black;
    color: white;
    transition: 300ms;
}


@media (min-width: 576px) {
    .detalle{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .boton{
        margin: 0px;
        padding: 0px;
    }

    .cajas{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .caja div img{
        width: 45%;
        height: 45%;
        margin-left: 30%;
        margin-top: 25px;
    }

}

@media (min-width:768px) {
    .menu-content{
        left: 7%;
    }

    .cajas {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .caja{
        width: 200px;
        height: 200px;
    }

    .caja input[type="submit"]{
        margin: 0px;
        margin-right: 5px;
    }

    
}

@media (min-width:992px) {
    header{
        height: 60px;
    }

    .label-check{
        display: none;
    }

    .menu{
        margin: 0px;
    }

    .menu ul{
        margin-left: 20px;
        display: flex;
        flex-direction: row;
    }

    .logo{
        margin-right: 30px;
        margin-top: 10px;
        padding: 0px;
        font-size: 25px;
    }

    .logo span{
        font-size: 27px;
    }


    .menu-content{
        left: 5%;
    }

    .caja{
        width: 250px;
        height: 250px;
    }

    .caja input[type="submit"]{
        margin-top: 20px;
    }

}

@media (min-width:1200px) {
    .detalle{
        height: 500px;
        display: flex;
        flex-direction: column;
        background: white;
    }
    
    .detalle img{
        width: 300px;
        height: 300px;
    }
    
    .caracteristicas{
        font-size: 25px;
    }
    
    .descripcion h2{
        margin: 10px;
        padding: 5px;
        margin-left: 18px;
        font-size: 29px;
    }
    
    .descripcion p{
        margin: 10px;
        margin-left: 10px;
        padding: 5px;
        font-size: 25px;
    }
    
    .boton{
    }
}

@media (min-width:1400px) {
    .menu ul{
        margin-left: 40px;
    }

    .listado h1{
        font-size: 35px;
        margin-top: 20px;
    }

    .caja{
        width: 400px;
        height: 400px;
    }


    .caja input[type="submit"]{
        margin-top: 20px;
    }

    .listado div img{
        width: 200px;
        height: 200px;
        margin-left: 30%;
        margin-top: 15px;
    }
    
    
    .listado div h3{
        font-size: 28px;
        margin-top: 3px;
        margin-left: 25px;
    }
    
    .listado div p{
        font-size: 23px;
        margin-top: 3px;
        margin-left: 25px;
        margin-right: 20px;
        margin-top: 10px;
    }

    .listado div input{
        width: 100px;
    }
}

